.parent-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body {
  background-color:	#475e67;
}

h1,
h2 {
  color: #e0edee;
  text-align: center;
}

.header-container {
  margin-bottom: 50px;
}

.body-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Create box */
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);

  height: 25vw;
  width: 25vw;
}

.cell {
  border: 2px solid	#e0edee;
  border-radius: 15px;
}

/* Remove center of box */
#cell6,
#cell7,
#cell10,
#cell11 {
  border: none;  
}